@font-face {
    font-family: "JetBrains Mono";
    src: url("../assets/fonts/JetBrainsMono-VariableFont_wght.ttf") format("truetype");
}

:root {
    /* Colours */
    --very-dark-grey: hsl(248 15% 11%);
    --dark-grey: hsl(248 10% 15%);
    --grey: hsl(251 9% 53%);
    --almost-white: hsl(252 11% 91%);
    --white: hsl(0 0% 100%);

    --neon-green: hsl(127 100% 82%);
    --red: hsl(0 91% 63%);
    --orange: hsl(13 95% 66%);
    --yellow: hsl(42 91% 68%);

    /* Background */
    --linear: linear-gradient(hsl(247 16% 9%), hsl(255 22% 4%));

    /* Font sizes */
    --heading: clamp(1rem, 0.5229rem + 2.0356vw, 1.5rem);
    --output: clamp(1.5rem, 1.0229rem + 2.0356vw, 2rem);
    --body: clamp(1rem, 0.8807rem + 0.5089vw, 1.125rem);
    --strength: clamp(1.125rem, 0.7672rem + 1.5267vw, 1.5rem);

    /* Gaps */
    --gap-main: clamp(16px, 0.1054rem + 3.8168vw, 31px);
    --gap-form: clamp(16px, 0.5229rem + 2.0356vw, 24px);
    --gap-options: clamp(16px, 0.7615rem + 1.0178vw, 20px);
    --gap-checkbox: clamp(20px, 1.0115rem + 1.0178vw, 24px);
    --gap-generate: clamp(16px, 0.5229rem + 2.0356vw, 24px);
    --gap-strength: 16px;
    --gap-gauge: 8px;
    --gap-char-length: clamp(8px, 0.0229rem + 2.0356vw, 16px);
    --gap-copy: clamp(8px, 0.0229rem + 2.0356vw, 16px);
    --gap-copy-small: 4px;

    /* Sizing */
    --main-width: clamp(320px, 100%, 33.75rem);
    --checkbox-size: 1.25rem;
    --range-track-height: 0.5rem;
    --range-thumb-size: 1.75rem;
    --gauge-height: 1.75rem;
    --gauge-width: 0.625rem;
    --copy-button-height: clamp(1.25rem, 1.0115rem + 1.0178vw, 1.5rem);

    /* Padding */
    --inline-padding-form: clamp(16px, 0.0458rem + 4.0712vw, 32px);
    --block-padding-form: clamp(16px, 0.5229rem + 2.0356vw, 24px) clamp(16px, 0.0458rem + 4.0712vw, 32px);
    --block-padding-password: clamp(16.5px, 0.912rem + 0.5089vw, 18.5px);
    --padding-strength: clamp(14px, 0.4874rem + 1.6539vw, 20.5px) var(--inline-padding-form);
    --padding-generate: clamp(15.5px, 0.76rem + 0.8906vw, 19px);
    --padding-body: 16px;

    /* Margin */
    --margin-block-options: 32px;
    --margin-top-generate: clamp(16px, 0.0458rem + 4.0712vw, 32px);

    /* Border */
    --border: 2px solid;

    /* Positioning */
    --copy-absolute-right: var(--inline-padding-form);
    --copy-absolute-top: calc(-1 * (var(--gap-main) + var(--copy-button-height)));

    /* Images */
    --check: url("../assets/images/icon-check.svg");
}

*, *::before, *::after {
    box-sizing: border-box;
}
  
* {
    padding: 0;
    margin: 0;
}

body {
    min-height: 100vh;
    font-family: "JetBrains Mono", monospace;
    font-size: var(--body);
    font-weight: 700;
    text-transform: capitalize;
    background: var(--linear);
    color: var(--almost-white);
    padding-inline: var(--padding-body);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: var(--gap-main);
}

button {
    display: block;
    font-size: inherit;
    font-family: inherit;
    font-weight: inherit;
    text-transform: uppercase;
}

button:hover {
    cursor: pointer;
}

#char-length {
    grid-column: 1 / -1;
}

#char-length-container {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto var(--range-thumb-size);
    justify-content: space-between;
    align-items: center;
    row-gap: var(--gap-char-length);
}

#char-length-output {
    color: var(--neon-green);
    justify-self: end;
}

#copy {
    background-color: transparent;
    border: none;
    display: flex;
    column-gap: var(--gap-copy);
    height: var(--copy-button-height);
}
#password.full + #copy {
    column-gap: var(--gap-copy-small);
}

#copy svg {
    fill: var(--neon-green);
}

#copy:hover svg {
    fill: var(--white);
}

@media (width < 23.4375rem) {
    #copy {
        position: absolute;
        right: var(--copy-absolute-right);
        top: var(--copy-absolute-top);
    }
}

@media (width < 30rem) {
    #copy.copied svg {
        fill: none;
    }

    #copy.copied {
        background-color: var(--neon-green);
        mask: no-repeat var(--check) center/contain;
    }
}

@media (min-width: 30rem) {
    #copy::before {
        content: "COPIED";
        color: var(--neon-green);
        opacity: 0;
        transition: opacity 0.75s ease-out;
    }
    
    #copy.copied::before {
        opacity: 1;
        transition: opacity 0s;
    }
}

fieldset {
    border: none;
    display: flex;
    flex-direction: column;
    row-gap: var(--gap-options);
    margin-block: var(--margin-block-options);
}

form {
    display: flex;
    flex-direction: column;
    row-gap: var(--gap-form)
}

.form-window {
    background-color: var(--dark-grey);
    padding-inline: var(--inline-padding-form);
    padding-block: var(--block-padding-form);
}

#gauge {
    display: flex;
    column-gap: var(--gap-gauge);
}

.gauge-unit {
    height: var(--gauge-height);
    width: var(--gauge-width);
    border: var(--border) var(--almost-white);
}

#gauge.too-weak .gauge-unit:nth-child(1) {
    border: none;
    background-color: var(--red);
}

#gauge.weak .gauge-unit:nth-child(-n + 2) {
    border: none;
    background-color: var(--orange);
}

#gauge.medium .gauge-unit:nth-child(-n + 3) {
    border: none;
    background-color: var(--yellow);
}

#gauge.strong .gauge-unit {
    border: none;
    background-color: var(--neon-green);
}

#generate {
    color: var(--dark-grey);
    background-color: var(--neon-green);
    border: var(--border) var(--neon-green);
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: var(--gap-generate);
    width: 100%;
    padding: var(--padding-generate);
    margin-block-start: var(--margin-top-generate);
}

#generate svg {
    fill: var(--dark-grey);
}

#generate:hover {
    color: var(--neon-green);
    background-color: transparent;
}

#generate:hover svg {
    fill: var(--neon-green);
}

h1 {
    font-size: var(--heading);
    color: var(--grey);
    text-align: center;
}

img, svg {
    display: block;
    max-width: 100%;
}

input {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
}

input:hover {
    cursor: pointer;
}

input[type="checkbox"] {
    appearance: none;
    height: var(--checkbox-size);
    width: var(--checkbox-size);
    border: var(--border) var(--almost-white);
}

input[type="checkbox"]:hover {
    border-color: var(--neon-green);
}

input[type="checkbox"]:checked {
    border: none;
    background: center no-repeat var(--check), var(--neon-green);
}

input[type="checkbox"] + label {
    user-select: none;
}

input[type="checkbox"] + label:hover {
    cursor: pointer;
}

input[type="range"] {
    --range-background: var(--very-dark-grey);
    --range-progress: var(--neon-green);

    appearance: none;
    height: var(--range-track-height);
    background-color: var(--range-background);
}

input[type="range"].empty {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

input[type="range"].full {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

input[type="range"]::-moz-range-thumb {
    background-color: var(--almost-white);
    border-radius: 50%;
    border: none;
    height: var(--range-thumb-size);
    width: var(--range-thumb-size);
}
input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    background-color: var(--almost-white);
    border-radius: 50%;
    border: none;
    height: var(--range-thumb-size);
    width: var(--range-thumb-size);
}

input[type="range"]:hover::-moz-range-thumb {
    background-color: var(--very-dark-grey);
    border: var(--border) var(--neon-green);
}
input[type="range"]:hover::-webkit-slider-thumb {
    background-color: var(--very-dark-grey);
    border: var(--border) var(--neon-green);
}

label {
    display: block;
}

label[for="strength"] {
    color: var(--grey);
    flex: 1 0 auto;
}

main {
    width: var(--main-width);
}

.option {
    display: flex;
    column-gap: var(--gap-checkbox);
}

output {
    font-size: var(--output);
}

#password {
    text-transform: none;
}

#password:empty::after {
    content: "P4$5W0rD!";
    font-size: inherit;
    color: var(--almost-white);
    opacity: 25%;
}

#password-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-block: var(--block-padding-password);
    position: relative;
}

#strength {
    font-size: var(--strength);
    height: calc(1.33333 * var(--strength));
    display: flex;
    align-items: center;
}

#strength:has(+ #gauge.too-weak)::after {
    content: "!";
}

#strength-container {
    text-transform: uppercase;
    background-color: var(--very-dark-grey);
    display: flex;
    align-items: center;
    column-gap: var(--gap-strength);
    padding: var(--padding-strength);
}
