@font-face {
    font-family: "JetBrains Mono";
    src: url("../assets/fonts/JetBrainsMono-VariableFont_wght.ttf") format("truetype");
}

:root {
    /* Colours */
    --very-dark-grey: hsl(248 15% 11%);
    --dark-grey: hsl(248 10% 15%);
    --grey: hsl(251 9% 53%);
    --almost-white: hsl(252 11% 91%);
    --white: hsl(0 0% 100%);

    --neon-green: hsl(127 100% 82%);
    --red: hsl(0° 91% 63%);
    --orange: hsl(13 95% 66%);
    --yellow: hsl(42 91% 68%);

    /* Background */
    --linear: linear-gradient(hsl(247 16% 9%), hsl(255 22% 4%));

    /* Font sizes */
    --heading: clamp(1rem, 0.5229rem + 2.0356vw, 1.5rem);
    --output: clamp(1.5rem, 1.0229rem + 2.0356vw, 2rem);
    --body: clamp(1rem, 0.8807rem + 0.5089vw, 1.125rem);

    /* Gaps */
    --gap-main: clamp(16px, 0.1054rem + 3.8168vw, 31px);
    --gap-form: clamp(16px, 0.5229rem + 2.0356vw, 24px);
    --gap-options: clamp(16px, 0.7615rem + 1.0178vw, 20px);
    --gap-checkbox: clamp(20px, 1.0115rem + 1.0178vw, 24px);
    --gap-generate: clamp(16px, 0.5229rem + 2.0356vw, 24px);

    /* Sizing */
    --main-width: clamp(320px, 100%, 540px);
}

*, *::before, *::after {
    box-sizing: border-box;
}
  
* {
    padding: 0;
    margin: 0;
}

body {
    min-height: 100vh;
    font-family: "JetBrains Mono", monospace;
    font-size: var(--body);
    font-weight: 700;
    text-transform: capitalize;
    background: var(--linear);
    color: var(--almost-white);
    padding-inline: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: var(--gap-main);
}

button {
    display: block;
    font-size: inherit;
    font-family: inherit;
    font-weight: inherit;
    text-transform: uppercase;
}

button:hover {
    cursor: pointer;
}

#char-length {
    grid-column: 1 / -1;
}

#char-length-container {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-between;
    align-items: center;
}

#char-length-output {
    color: var(--neon-green);
}

#copy {
    background-color: transparent;
    border: none;
}

#copy svg {
    fill: var(--neon-green);
}

#copy:hover svg {
    fill: var(--white);
}

fieldset {
    border: none;
    display: flex;
    flex-direction: column;
    row-gap: var(--gap-options);
}

form {
    display: flex;
    flex-direction: column;
    gap: var(--gap-form)
}

.form-window {
    background-color: var(--dark-grey);
}

#generate {
    color: var(--dark-grey);
    background-color: var(--neon-green);
    border: 2px solid var(--neon-green);
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: var(--gap-generate);
    width: 100%;
}

#generate svg {
    fill: var(--dark-grey);
}

#generate:hover {
    color: var(--neon-green);
    background-color: transparent;
}

#generate:hover svg {
    fill: var(--neon-green);
}

h1 {
    font-size: var(--heading);
    color: var(--grey);
    text-align: center;
}

img, svg {
    display: block;
    max-width: 100%;
}

input {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
}

label {
    display: block;
}

label[for="strength"] {
    color: var(--grey);
    flex: 1 0 auto;
}

main {
    width: var(--main-width);
}

.option {
    display: flex;
    column-gap: var(--gap-checkbox);
}

output {
    font-size: var(--output);
}

#password {
    text-transform: none;
}

#password:empty::after {
    content: "P4$5W0rD!";
    font-size: inherit;
    color: var(--almost-white);
    opacity: 25%;
}

#password-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    row-gap: 8px;
}

#strength-container {
    text-transform: uppercase;
    background-color: var(--very-dark-grey);
    display: flex;
}
